<article class="blog-post">
    <a class={{type1}} {{action 'refresh'}}>Eco</a>
    <a class={{type2}} {{action 'refresh'}}>Home</a>
    <a class={{type3}} href="#/Cart" >Cart</a>
    <a class={{type4}} href="#/OrderDetail">Your Order</a>
    <a {{action 'logout'}}>Logout</a>
</article>