<div class="vendortopnav-bar">
    {{#link-to 'VendorHomePage'}}<i class={{type1}}></i>Home{{/link-to}}
    {{#link-to 'AddProduct'}}<i class={{type2}}></i>Add{{/link-to}}
    {{#link-to 'VendorDelivery'}}<i class={{type3}}></i>Delivery{{/link-to}}
    {{#link-to 'VendorDelivered'}}<i class={{type4}}></i>Delivered{{/link-to}}
<!--    <a class=type5}} action 'logout'}}>Logout</a>-->
    {{nav-logout logout="whileLogout"}}
</div>