<div>
    {{#each model as |post|}}
        {{topnav-bar type1=post.type1 type2=post.type2 type3=post.type3 type4=post.type4}}
    {{/each}}
    <div>
        <table id="cartlist">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Amount</th>
            </tr>
            </thead>
            <tbody>
                {{#each this.itemDataCart as |p|}}
                        <tr>
                            <td>{{p.product_name}}</td>
                            <td>{{p.brand_name}}</td>
                            <td>{{p.color}}</td>
                            <td>{{p.size}}</td>
                            <td>{{input class="dummyint" type="text" value=p.quantity}}</td>
<!--                            <input type="number" value="p.quantity}}" on "change" this.itemDataCart.quantity}}>-->
<!--                            <td id="tbodyquantity.product_id}}" contenteditable="true">p.quantity}}</td>-->
<!--                            action "quantity_save" p.product_id on="change"}}-->
                            <td>{{p.price}}</td>
                            <td>{{p.totalprice}}</td>
                            <button {{action 'quantity_save' p.product_id}}  >Save</button>
                            <button id="cancel" {{action 'Cancel' p.product_id}} >Remove</button>
                        </tr>
                {{/each}}
            </tbody>
        </table>
        <div id="productname">{{totalamount}}</div>
    </div>
    <button class ="btncart" {{action 'generateorder'}}><b>Order</b></button>
</div>
