<div>
    {{#each model as |post|}}
        {{topnav-bar type1=post.type1 type2=post.type2 type3=post.type3 type4=post.type4}}
    {{/each}}
    <div>
        <table id="cartlist">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Amount</th>
            </tr>
            </thead>
            <tbody>
                {{#each this.orderitem as |p|}}
                    <tr>
                        <td>{{p.product_name}}</td>
                        <td>{{p.brand_name}}</td>
                        <td>{{p.color}}</td>
                        <td>{{p.size}}</td>
                        <td>{{p.quantity}}</td>
                        <td>{{p.price}}</td>
<!--                        <td>p.price}} * p.quantity}}</td>-->
                        <td>{{add-productamount p.price p.quantity}}</td>
                        <button id="cancel" {{action 'onCancel' p._id}} >Cancel</button>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <button class ="btncart" {{action 'generateinvoice'}} ><b>Invoice</b></button>
</div>

