<div>
    {{#each model as |post|}}
        {{topnav-bar type1=post.type1 type2=post.type2 type3=post.type3 type4=post.type4}}
    {{/each}}
    <div id="productname">{{productname}}</div>
    <div class="row text-center py-5" id="itemData1">
        {{#each this.totalproduct as |p|}}
            <div class="imgcard">
                <div class="innercard">
                    <img src="image/image_photo.png" alt="photo" style="width:150px;height:150px;">
                    <div class="content">
                        <h4><b>{{p.product_name}}</b></h4><br>
                        <p><b>brand_name</b>: {{p.brand_name}}</p>
                        <p><b>price</b>: {{p.price}}</p>
                        <p><b>Detail</b>: {{p.detail}}</p>
                        <p><b>color</b>: {{p.color}}</p>
                        <p><b>size</b>: {{p.size}}</p>
                        <p><b>quantity</b>: {{p.quantity}}</p>
                        <button class ="btncart" {{action 'addcart' p.product_id p.vendor_id}}
                                value={{p.product_id}}><b>Add to Cart</b></button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>