<div>
    {{#each model as |post|}}
        {{vendortopnav-bar type1=post.type1 type2=post.type2 type3=post.type3 type4=post.type4 type5=post.type5}}

    {{/each}}
    <form id="addform">
        <table id="cartlist">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {{#each this.delivereditem as |p|}}
                <tr>
                    <td>{{p.product_name}}</td>
                    <td>{{p.brand_name}}</td>
                    <td>{{p.color}}</td>
                    <td>{{p.size}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.price}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </form>
</div>

