<div>
    <div class="topnav">
        <a href="EcoEmber2/#/VendorHomePage">Home</a>
        <a href="EcoEmber2/#/AddProduct.html">Add</a>
        <a class="reload" href="EcoEmber2/#/VendorDelivery">Delivery</a>
        <a class="active" class="reload" href="EcoEmber2/#/VendorDelivered">Delivered</a>
        <a class="reload" {{action 'logout'}}">Logout</a>
    </div>
    <form id="addform">
        <table id="cartlist">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {{#each this.delivereditem as |p|}}
                <tr>
                    <td>{{p.product_name}}</td>
                    <td>{{p.brand_name}}</td>
                    <td>{{p.color}}</td>
                    <td>{{p.size}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.price}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </form>
</div>

